body {
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "72","72full",Arial,Helvetica,sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    background: #fff;
}

.container-total {
    display: flex;
}

.container {           
    display: flex;    
    justify-content: space-between;       
}

.wrapper-selection-block {    
    width: 100%;
	max-width: 450px;    
    height: 100vh;/*How use scroll?????*/ 
    overflow-y: auto;    
    color:#32363a;     
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #f9f9fd;    
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #9da4aa;
}

.left-header{    
    padding: 8px 16px;
    background:#fff;
    border-bottom:1px solid #e7e2e2fb;
    box-shadow: 0 0 25px rgba(131, 128, 128, 0.5);               
    position:sticky;
    z-index: 2;
    top:0;    
}

.count-orders {
    color: #32363A;                 
    font-size: 20px;
}

.navigation {    
    display: flex;
    justify-content: space-between;
    background: #f7f7f7;
    position:relative;    
    box-shadow: 0 0 5px rgba(0,0,0,0.5); 
}

/*.toolbar {
    display: flex;
    flex-wrap: wrap;
}

.search-from-toolbar {
    background: transparent url(images\search.png);
    color:#333333;
}*/

.search {        
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 5px 50px 5px 10px;			
	font-weight: 400;
	font-size: 14px;	
	width: 170px;
}

.lupa {    
    position: absolute;
    left:190px;
    top: 39px;   
}

.lupa:hover {/*????????*/
    cursor: pointer;
    background: #d7d7d7;    
}

.refresh {/* couldn't find right svg*/    
    position: absolute;
    left:225px;
    top: 43px;   
}

.refresh:hover {
    cursor: pointer;
    background: #d7d7d7;    
}

.pictures-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pictures-nav img {
    padding-top: 25px;
	padding-right: 20px;
}

.main-wrapper-selection-block {    
    padding: 16px;
    border-bottom: 1px solid #e7e2e2fb;  
}

.main-wrapper-selection-block:hover {
    cursor: pointer;
    background: #f7f7f7;    
}

.orders-number {
    font-size: 18px;
}

.orders-date {
    font-size: 22px;    
}

.orders-info {
    padding-top: 5px;          
    width: 50%;
    line-height: 140%;
    color: #6A6D70;   
}

.shipped-time-in {
    padding-top: 5px;/*??????*/
    color: #107e3e;
}

.shipped-time-urgent {    
    padding-top: 5px;/*?????*/
    color: #df6e0c;
}

.shipped-time-late {    
    padding-top: 5px;
    color: #b00;
}

.page-spread {
    width: 20px;
    background:#f1f3f5;
}

.description-block {    
    width: 100%;
	max-width: 1500px;    
    height: 100%;     
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;    
    color:#32363a;            
}

.right-header{    
    padding: 8px 32px;       
    background:#fff;          
    position:sticky;
    z-index: 2;
    top:0;    
}

.right-header:hover {
    cursor: pointer;
    background: #e7e9ea; 
}

.icons-screen-close {    
    text-align: right;
}

.icon-email, .icons-screen-close img {    
    padding: 0 7px;
}

.wrapper-orders-info{
    border-bottom:1px solid #e7e2e2fb;    
} 

.main-right-block {
    padding: 32px 32px 0;           
    background: #f7f7f7;        
}

.ordered-info {
    display:flex;     
    padding: 16px 32px;
}

.stores-info-ordered, .price-info {      
    color: #6A6D76;   
}

.price-info {
    /*font-size: bold;*/
    padding-left: 20px;
}

.container-shipping-items {
    padding: 0 32px;
    display: flex;    
    align-items: center;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e2e2fb;    
}

.shipping-info {
    margin: 0 12px 0 0;
    padding: 0 4px 0 0;
}

.processor {
    margin: 0 0 0 12px;
    padding: 0 0 0 4px;
}

.ship-address {
    padding: 16px;
    border-bottom: 1px solid #e7e2e2fb; 
}

.title-address {/*location is not bottom*/
    height: 44px;
    font-size: 18px;
    border-bottom: 1px solid #e7e2e2fb; 
}

.recipient-info {
    line-height: 140%;
    display: flex;
    padding: 16px 12px 12px;    
}

.stores-address-key {
    width: 25%;
    padding: 4px;    
    color: #6A6D70;
    text-align: right;  
}

.stores-address-value {
    padding: 4px;    
    color: #32363A;    
}
 
.caption-line-items {
    height: 44px;    
    text-align: left;
    vertical-align: bottom;/*don't move bottom*/
    /*margin-top: 12px; moved with marcin*/
    padding: 0 8px 0 12px;
    font-size: 18px;
    color: #32363A;
}
 
table {    
    font-family: "72","72full",Arial,Helvetica,sans-serif;
    font-size: 14px;    
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background: #FFF;
}
th {
    font-weight: normal; 
    background: #f7f7f7;      
    padding: 10px 8px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
td {    
    padding: 9px 8px;    
    border-bottom: 1px solid #ccc;
}

.text-table-right{
    text-align: right;
}

.item-name {
     font-size: bold;/*doesn't work*/
}
   