body {
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "72","72full",Arial,Helvetica,sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    background: #fff;
}

.container-total {
    display: flex;
}

.container {
    margin: 0 20px;        
    display: flex;    
    justify-content: space-between;       
}

.wrapper-selection-block {    
    width: 100%;
	max-width: 450px;    
    height: 100vh;/*How use scroll?????*/ 
    overflow-y: auto;    
    color:#32363a;     
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #f9f9fd;    
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #9da4aa;
}

.left-header{
    padding: 12px 20px;
    background:#fff;
    border-bottom:1px solid #918787;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);               
    position:sticky;
    z-index: 2;
    top:0;    
}

.count-orders {        
    font-size: 20px;
}

.navigation {    
    display: flex;
    justify-content: space-between;
    background: #e7e9ea;
    position:relative;    
    box-shadow: 0 0 5px rgba(0,0,0,0.5); 
}

/*.toolbar {
    display: flex;
    flex-wrap: wrap;
}

.search-from-toolbar {
    background: transparent url(images\search.png);
    color:#333333;
}*/

.search {        
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 5px 50px 5px 10px;			
	font-weight: 400;
	font-size: 14px;	
	width: 170px;
}

.lupa {    
    position: absolute;
    left:190px;
    top: 39px;   
}

.lupa:hover {/*????????*/
    cursor: pointer;
    background: #d7d7d7;    
}

.refresh {/* couldn't find right svg*/    
    position: absolute;
    left:225px;
    top: 43px;   
}

.refresh:hover {
    cursor: pointer;
    background: #d7d7d7;    
}

.pictures-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pictures-nav img {
    padding-top: 25px;
	padding-right: 20px;
}

.main-wrapper-selection-block {
    border-bottom: 1px solid #333333;    
    /*height: 100%;*/         
}

.main-wrapper-selection-block:hover {
    cursor: pointer;
    background: #e7e9ea;    
}

.orders-number {
    font-size: 18px;
}

.orders-date {
    font-size: 20px;    
}

.orders-info {
    margin-top: -10px;        
    width: 50%;
    line-height: 160%;
    color: gray;   
}

.shipped-time-in {    
    margin-top: -10px;
    color: #107e3e;
}

.shipped-time-urgent {    
    margin-top: -10px;
    color: #df6e0c;
}

.shipped-time-late {    
    margin-top: -10px;
    color: #b00;
}

.page-spread {
    width: 20px;
    background:#f1f3f5;
}

.description-block {    
    width: 100%;
	max-width: 1500px;    
    height: 100%;     
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;    
    color:#32363a;            
}

.right-header{    
    padding: 42px 42px 12px 20px;       
    background:#fff;          
    position:sticky;
    z-index: 2;
    top:0;    
}

.right-header:hover {
    cursor: pointer;
    background: #e7e9ea; 
}

.pictures {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pictures img {    
	padding-right: 20px;
}

.main-wrapper-description-block {        
    border-bottom: 1px solid #918787;    
    /*height: 100%;
    width: 100%;*/    
}

.stores-info {
    padding: 10px 40px;       
    line-height: 10%;
    color: gray;   
}

.container-shipping-items {
    display: flex;    
    align-items: center;
    background: #e7e9ea;    
}

 .shipping-info {    
    /*background-color: #0854a0;*/
    padding-top: 35px;
    padding-left: 75px;
}

.processor {
    padding-top: 35px;
    padding-left: 40px;
}

.ship-address {
    padding: 35px 0 10px 70px;    
    font-size: 18px;
}

.stores-address-key {
    margin-top: 10px;
    padding-left: 140px;
    padding-bottom: 30px;
    line-height: 40%;
    color: gray;
    text-align: right;  
}

.stores-address-value {
    margin-top: 10px;
    padding-left: 30px;
    line-height: 40%;     
}
 
caption {    
    text-align: left;
    padding: 10px 0;
    font-size: 18px;
}

.table {
    padding: 0 40px;
}
 
table {    
    font-family: "72","72full",Arial,Helvetica,sans-serif;
    font-size: 14px;    
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
th {
    font-weight: normal; 
    background: #e7e9ea;      
    padding: 10px 8px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
td {    
    padding: 9px 8px;    
    border-bottom: 1px solid #ccc;
}

.item-name {
     font-size: bold;/*?????*/
}
   